.project-card {
  width: 100%;

  a {
    display: block;
    color: var(--color-text);
    text-decoration: none;
  }

  img {
    padding-bottom: 1rem;
    width: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 21px;
  }
}
